h1 {
  text-shadow: 2px 2px 8px #FF0000;
  color:white;
  font-size: 80px;
}
body
{
	
	 background-image:url("bg.png");
}
a
{
	margin:0px;
	padding:10px;
	font-size:30px;
	color:blue;
	text-decoration:none;
}
a:hover
{
	margin:0px;
	padding:10px;
	font-size:35px;
	
	color:blue;
	text-decoration:none;
}
#first
{
	margin:0px;
	padding:10px;
	background-color:grey;
}
input
{
	height:35px;
	width:200px;
	font-size:30px;

}
label
{
	font-size:30px;
	color:blue;

}
.second
{
	margin:auto;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:20px;
	height:500px;
	width:500px;
	opacity:0.8;
	background-color:grey;
}